[Desktop Entry]
Type=Application
Version=1.0
Name=1term
GenericName=Terminal Emulator
Comment=A simple terminal app using GTK 4 and VTE
Exec=1term %F
Icon=/home/me/1term/1term.png
Terminal=false
Categories=System;TerminalEmulator;
MimeType=application/x-shellscript;
