[Desktop Entry]
Type=Application
Version=1.0
Name=1term
GenericName=Terminal Emulator
Comment=A simple terminal app using GTK 4 and VTE
Exec=1term %F
Icon=1term
Terminal=false
Categories=System;TerminalEmulator;
MimeType=application/x-shellscript;
StartupWMClass=org.oneterm
StartupNotify=true
